In [2]:
import pandas as pd
import numpy as np

In [2]:
# Read in Vehicles data

df_vehicles = pd.read_csv('Traffic_Crashes_-_Vehicles_20231109.csv', low_memory=False)

In [5]:
# Read in People data

df_people = pd.read_csv('Traffic_Crashes_-_People_20231109.csv', low_memory=False)
df_people.head()

,PERSON_ID,PERSON_TYPE,CRASH_RECORD_ID,RD_NO,VEHICLE_ID,CRASH_DATE,SEAT_NO,CITY,STATE,ZIPCODE,...,EMS_RUN_NO,DRIVER_ACTION,DRIVER_VISION,PHYSICAL_CONDITION,PEDPEDAL_ACTION,PEDPEDAL_VISIBILITY,PEDPEDAL_LOCATION,BAC_RESULT,BAC_RESULT VALUE,CELL_PHONE_USE
0,O749947,DRIVER,81dc0de2ed92aa62baccab641fa377be7feb1cc47e6554...,JC451435,834816.0,09/28/2019 03:30:00 AM,NaN,CHICAGO,IL,60651,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
1,O871921,DRIVER,af84fb5c8d996fcd3aefd36593c3a02e6e7509eeb27568...,JD208731,827212.0,04/13/2020 10:50:00 PM,NaN,CHICAGO,IL,60620,...,NaN,NONE,NOT OBSCURED,NORMAL,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
2,O10018,DRIVER,71162af7bf22799b776547132ebf134b5b438dcf3dac6b...,HY484534,9579.0,11/01/2015 05:00:00 AM,NaN,NaN,NaN,NaN,...,NaN,IMPROPER BACKING,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
3,O10038,DRIVER,c21c476e2ccc41af550b5d858d22aaac4ffc88745a1700...,HY484750,9598.0,11/01/2015 08:00:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN
4,O10039,DRIVER,eb390a4c8e114c69488f5fb8a097fe629f5a92fd528cf4...,HY484778,9600.0,11/01/2015 10:15:00 AM,NaN,NaN,NaN,NaN,...,NaN,UNKNOWN,UNKNOWN,UNKNOWN,NaN,NaN,NaN,TEST NOT OFFERED,NaN,NaN

In [6]:
# Merge People dataframe with Vehicles dataframe

df = df_vehicles.merge(df_people, how="left", on=["CRASH_RECORD_ID", "CRASH_DATE", "RD_NO", "VEHICLE_ID"])

In [47]:
# Read in John's data

df_2021 = pd.read_csv('chicago_traffic_accidents_2021_to_11-09-2023.csv', low_memory=False)

In [48]:
# Drop columns that came from Vehicles dataframe

df_2021.drop(columns = ['TOWED_I', 'FIRE_I', 'TOWED_BY', 'TOWED_TO', 'CMV_ID', 
                        'USDOT_NO', 'CCMC_NO', 'ILCC_NO', 'COMMERCIAL_SRC', 'GVWR', 
                        'CARRIER_NAME', 'CARRIER_STATE', 'CARRIER_CITY',
                        'HAZMAT_PLACARDS_I', 'HAZMAT_NAME', 'UN_NO', 'HAZMAT_PRESENT_I', 
                        'HAZMAT_REPORT_I', 'HAZMAT_REPORT_NO', 'MCS_REPORT_I',
                        'MCS_REPORT_NO', 'HAZMAT_VIO_CAUSE_CRASH_I', 'MCS_VIO_CAUSE_CRASH_I', 
                        'IDOT_PERMIT_NO', 'WIDE_LOAD_I', 'TRAILER1_WIDTH', 'TRAILER2_WIDTH', 
                        'TRAILER1_LENGTH', 'TRAILER2_LENGTH', 'TOTAL_VEHICLE_LENGTH',
                        'AXLE_CNT', 'VEHICLE_CONFIG', 'CARGO_BODY_TYPE', 'LOAD_TYPE',
                        'HAZMAT_OUT_OF_SERVICE_I', 'MCS_OUT_OF_SERVICE_I', 'HAZMAT_CLASS'],
                         inplace=True)

In [50]:
# Drop columns that came from People dataframe

df_2021.drop(columns = ['HOSPITAL', 'EMS_AGENCY', 'EMS_RUN_NO'], inplace=True)

In [15]:
# Saving in case we decide to drop the AREA columns

#df_2021.drop(columns = ['EXCEED_SPEED_LIMIT_I', 'TOWED_BY', 'TOWED_TO', 'AREA_00_I', 
                        'AREA_01_I', 'AREA_02_I', 'AREA_03_I', 'AREA_04_I', 'AREA_05_I', 
                        'AREA_06_I', 'AREA_07_I', 'AREA_08_I', 'AREA_09_I', 'AREA_10_I', 
                        'AREA_11_I', 'AREA_12_I', 'AREA_99_I', 'CMV_ID', 'USDOT_NO', 
                        'CCMC_NO', 'ILCC_NO'], inplace=True)

In [51]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766656 entries, 0 to 766655
Data columns (total 60 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             766656 non-null  int64
 1   CRASH_UNIT_ID          766656 non-null  int64
 2   CRASH_RECORD_ID        766656 non-null  object
 3   RD_NO                  755491 non-null  object
 4   CRASH_DATE             766656 non-null  object
 5   UNIT_NO                766656 non-null  int64
 6   UNIT_TYPE              765994 non-null  object
 7   NUM_PASSENGERS         219426 non-null  float64
 8   VEHICLE_ID             751204 non-null  float64
 9   CMRC_VEH_I             14749 non-null   object
 10  MAKE                   751204 non-null  object
 11  MODEL                  751204 non-null  object
 12  LIC_PLATE_STATE        683348 non-null  object
 13  VEHICLE_YEAR           643053 non-null  float64
 14  VEHICLE_DEFECT         751204 non-null  object
 15  VEHICLE_TYPE           751204 non-null  object
 16  VEHICLE_USE            751204 non-null  object
 17  TRAVEL_DIRECTION       751204 non-null  object
 18  MANEUVER               751204 non-null  object
 19  OCCUPANT_CNT           751204 non-null  float64
 20  EXCEED_SPEED_LIMIT_I   10 non-null      object
 21  AREA_00_I              21234 non-null   object
 22  AREA_01_I              221673 non-null  object
 23  AREA_02_I              112732 non-null  object
 24  AREA_03_I              78214 non-null   object
 25  AREA_04_I              71113 non-null   object
 26  AREA_05_I              114236 non-null  object
 27  AREA_06_I              132145 non-null  object
 28  AREA_07_I              130907 non-null  object
 29  AREA_08_I              80405 non-null   object
 30  AREA_09_I              82859 non-null   object
 31  AREA_10_I              121570 non-null  object
 32  AREA_11_I              232111 non-null  object
 33  AREA_12_I              226444 non-null  object
 34  AREA_99_I              85996 non-null   object
 35  FIRST_CONTACT_POINT    751019 non-null  object
 36  PERSON_ID              679348 non-null  object
 37  PERSON_TYPE            679348 non-null  object
 38  SEAT_NO                134341 non-null  float64
 39  CITY                   482428 non-null  object
 40  STATE                  491855 non-null  object
 41  ZIPCODE                443915 non-null  object
 42  SEX                    666632 non-null  object
 43  AGE                    473136 non-null  float64
 44  DRIVERS_LICENSE_STATE  390298 non-null  object
 45  DRIVERS_LICENSE_CLASS  308267 non-null  object
 46  SAFETY_EQUIPMENT       677348 non-null  object
 47  AIRBAG_DEPLOYED        665078 non-null  object
 48  EJECTION               670109 non-null  object
 49  INJURY_CLASSIFICATION  679188 non-null  object
 50  DRIVER_ACTION          543677 non-null  object
 51  DRIVER_VISION          543417 non-null  object
 52  PHYSICAL_CONDITION     544091 non-null  object
 53  PEDPEDAL_ACTION        14258 non-null   object
 54  PEDPEDAL_VISIBILITY    14240 non-null   object
 55  PEDPEDAL_LOCATION      14256 non-null   object
 56  BAC_RESULT             543615 non-null  object
 57  BAC_RESULT VALUE       613 non-null     float64
 58  CELL_PHONE_USE         2 non-null       object
 59  YEAR                   766656 non-null  int64
dtypes: float64(7), int64(4), object(49)
memory usage: 350.9+ MB

In [37]:
# Check values in Unit_type column

df_2021['UNIT_TYPE'].value_counts()

DRIVER                 654732
PARKED                  91906
PEDESTRIAN               8747
BICYCLE                  5244
DRIVERLESS               4552
NON-MOTOR VEHICLE         514
DISABLED VEHICLE          186
NON-CONTACT VEHICLE       111
EQUESTRIAN                  2
Name: UNIT_TYPE, dtype: int64

In [52]:
# Read in Crashes data

df_crashes = pd.read_csv('Traffic_Crashes_-_Crashes_20231109.csv', low_memory=False)

In [53]:
# Merge Crashed dataframe with working dataframe

df_all = pd.merge(df_2021, df_crashes, how = 'inner', on = 'CRASH_RECORD_ID')
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 766656 entries, 0 to 766655
Columns: 108 entries, Unnamed: 0 to LOCATION
dtypes: float64(18), int64(10), object(80)
memory usage: 637.6+ MB

In [54]:
# Drop columns that came from Crashes dataframe

df_all.drop(columns = ['LANE_CNT', 'REPORT_TYPE', 'INTERSECTION_RELATED_I', 
                       'NOT_RIGHT_OF_WAY_I', 'HIT_AND_RUN_I', 'DATE_POLICE_NOTIFIED',
                       'PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 'DOORING_I', 'WORK_ZONE_I',
                       'WORK_ZONE_TYPE', 'WORKERS_PRESENT_I'], inplace=True)

In [55]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 766656 entries, 0 to 766655
Data columns (total 96 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     766656 non-null  int64
 1   CRASH_UNIT_ID                  766656 non-null  int64
 2   CRASH_RECORD_ID                766656 non-null  object
 3   RD_NO_x                        755491 non-null  object
 4   CRASH_DATE_x                   766656 non-null  object
 5   UNIT_NO                        766656 non-null  int64
 6   UNIT_TYPE                      765994 non-null  object
 7   NUM_PASSENGERS                 219426 non-null  float64
 8   VEHICLE_ID                     751204 non-null  float64
 9   CMRC_VEH_I                     14749 non-null   object
 10  MAKE                           751204 non-null  object
 11  MODEL                          751204 non-null  object
 12  LIC_PLATE_STATE                683348 non-null  object
 13  VEHICLE_YEAR                   643053 non-null  float64
 14  VEHICLE_DEFECT                 751204 non-null  object
 15  VEHICLE_TYPE                   751204 non-null  object
 16  VEHICLE_USE                    751204 non-null  object
 17  TRAVEL_DIRECTION               751204 non-null  object
 18  MANEUVER                       751204 non-null  object
 19  OCCUPANT_CNT                   751204 non-null  float64
 20  EXCEED_SPEED_LIMIT_I           10 non-null      object
 21  AREA_00_I                      21234 non-null   object
 22  AREA_01_I                      221673 non-null  object
 23  AREA_02_I                      112732 non-null  object
 24  AREA_03_I                      78214 non-null   object
 25  AREA_04_I                      71113 non-null   object
 26  AREA_05_I                      114236 non-null  object
 27  AREA_06_I                      132145 non-null  object
 28  AREA_07_I                      130907 non-null  object
 29  AREA_08_I                      80405 non-null   object
 30  AREA_09_I                      82859 non-null   object
 31  AREA_10_I                      121570 non-null  object
 32  AREA_11_I                      232111 non-null  object
 33  AREA_12_I                      226444 non-null  object
 34  AREA_99_I                      85996 non-null   object
 35  FIRST_CONTACT_POINT            751019 non-null  object
 36  PERSON_ID                      679348 non-null  object
 37  PERSON_TYPE                    679348 non-null  object
 38  SEAT_NO                        134341 non-null  float64
 39  CITY                           482428 non-null  object
 40  STATE                          491855 non-null  object
 41  ZIPCODE                        443915 non-null  object
 42  SEX                            666632 non-null  object
 43  AGE                            473136 non-null  float64
 44  DRIVERS_LICENSE_STATE          390298 non-null  object
 45  DRIVERS_LICENSE_CLASS          308267 non-null  object
 46  SAFETY_EQUIPMENT               677348 non-null  object
 47  AIRBAG_DEPLOYED                665078 non-null  object
 48  EJECTION                       670109 non-null  object
 49  INJURY_CLASSIFICATION          679188 non-null  object
 50  DRIVER_ACTION                  543677 non-null  object
 51  DRIVER_VISION                  543417 non-null  object
 52  PHYSICAL_CONDITION             544091 non-null  object
 53  PEDPEDAL_ACTION                14258 non-null   object
 54  PEDPEDAL_VISIBILITY            14240 non-null   object
 55  PEDPEDAL_LOCATION              14256 non-null   object
 56  BAC_RESULT                     543615 non-null  object
 57  BAC_RESULT VALUE               613 non-null     float64
 58  CELL_PHONE_USE                 2 non-null       object
 59  YEAR                           766656 non-null  int64
 60  RD_NO_y                        755491 non-null  object
 61  CRASH_DATE_EST_I               53765 non-null   object
 62  CRASH_DATE_y                   766656 non-null  object
 63  POSTED_SPEED_LIMIT             766656 non-null  int64
 64  TRAFFIC_CONTROL_DEVICE         766656 non-null  object
 65  DEVICE_CONDITION               766656 non-null  object
 66  WEATHER_CONDITION              766656 non-null  object
 67  LIGHTING_CONDITION             766656 non-null  object
 68  FIRST_CRASH_TYPE               766656 non-null  object
 69  TRAFFICWAY_TYPE                766656 non-null  object
 70  ALIGNMENT                      766656 non-null  object
 71  ROADWAY_SURFACE_COND           766656 non-null  object
 72  ROAD_DEFECT                    766656 non-null  object
 73  CRASH_TYPE                     766656 non-null  object
 74  DAMAGE                         766656 non-null  object
 75  PRIM_CONTRIBUTORY_CAUSE        766656 non-null  object
 76  SEC_CONTRIBUTORY_CAUSE         766656 non-null  object
 77  STREET_NO                      766656 non-null  int64
 78  STREET_DIRECTION               766654 non-null  object
 79  STREET_NAME                    766656 non-null  object
 80  BEAT_OF_OCCURRENCE             766656 non-null  float64
 81  NUM_UNITS                      766656 non-null  int64
 82  MOST_SEVERE_INJURY             765417 non-null  object
 83  INJURIES_TOTAL                 765417 non-null  float64
 84  INJURIES_FATAL                 765417 non-null  float64
 85  INJURIES_INCAPACITATING        765417 non-null  float64
 86  INJURIES_NON_INCAPACITATING    765417 non-null  float64
 87  INJURIES_REPORTED_NOT_EVIDENT  765417 non-null  float64
 88  INJURIES_NO_INDICATION         765417 non-null  float64
 89  INJURIES_UNKNOWN               765417 non-null  float64
 90  CRASH_HOUR                     766656 non-null  int64
 91  CRASH_DAY_OF_WEEK              766656 non-null  int64
 92  CRASH_MONTH                    766656 non-null  int64
 93  LATITUDE                       760515 non-null  float64
 94  LONGITUDE                      760515 non-null  float64
 95  LOCATION                       760515 non-null  object
dtypes: float64(17), int64(10), object(69)
memory usage: 567.4+ MB

In [60]:
# row 19 observation is in Dan's df but not John's

df_all.iloc[19:21]

,Unnamed: 0,CRASH_UNIT_ID,CRASH_RECORD_ID,RD_NO_x,CRASH_DATE_x,UNIT_NO,UNIT_TYPE,NUM_PASSENGERS,VEHICLE_ID,CMRC_VEH_I,...,INJURIES_NON_INCAPACITATING,INJURIES_REPORTED_NOT_EVIDENT,INJURIES_NO_INDICATION,INJURIES_UNKNOWN,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,LOCATION
19,33294,1648808,170d5f0c08092e20b964043544ff16915a9032b98c4619...,JG401640,2023-08-28 16:33:00,2,PARKED,NaN,1569101.0,NaN,...,0.0,0.0,1.0,0.0,16,2,8,41.909416,-87.753888,POINT (-87.753888412538 41.909416300937)
20,28,1649064,2705172425d45abf20c5f2a7f7d5527beef9a80c4e402e...,JD402266,2023-08-29 08:42:00,1,DRIVER,NaN,1572265.0,NaN,...,0.0,0.0,2.0,0.0,8,3,8,41.823097,-87.685019,POINT (-87.685018950616 41.823096760166)

In [45]:
# Check values in Person_type column

df_all['PERSON_TYPE'].value_counts(normalize=True)

DRIVER                 0.780700
PASSENGER              0.197750
PEDESTRIAN             0.012899
BICYCLE                0.007729
NON-MOTOR VEHICLE      0.000760
NON-CONTACT VEHICLE    0.000162
Name: PERSON_TYPE, dtype: float64

In [62]:
# Remove all types of person except DRIVER

df_drivers = df_all[df_all['PERSON_TYPE'] == 'DRIVER']

In [63]:
# Sanity check

df_drivers['PERSON_TYPE'].value_counts(normalize=True)

DRIVER    1.0
Name: PERSON_TYPE, dtype: float64

In [72]:
# Check the values in Damage column

df_drivers['DAMAGE'].value_counts()

OVER $1,500      364281
$501 - $1,500    121950
$500 OR LESS      44136
Name: DAMAGE, dtype: int64

In [79]:
# Create a new column to identify damage as > $1500 or <= $1500

damage_dict = {'OVER $1,500':'HIGH', '$501 - $1,500':'LOW', '$500 OR LESS':'LOW'}
df_drivers['DAMAGE_LEVEL'] =  df_drivers.loc[:, ('DAMAGE')].map(damage_dict)

<ipython-input-79-850e8faa12cc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drivers['DAMAGE_LEVEL'] =  df_drivers.loc[:, ('DAMAGE')].map(damage_dict)

In [73]:
# Create a new column to identify damage as > $1500 or <= $1500 (try #2 -- still getting the warning message)

df_drivers['DAMAGE_LEVEL'] = ['HIGH' if x == 'OVER $1,500' else 'LOW' for x in df_drivers['DAMAGE']]

<ipython-input-73-68d799835eff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drivers['DAMAGE_LEVEL'] = ['HIGH' if x == 'OVER $1,500' else 'LOW' for x in df_drivers['DAMAGE']]

In [80]:
# Sanity check

df_drivers['DAMAGE_LEVEL'].value_counts()

HIGH    364281
LOW     166086
Name: DAMAGE_LEVEL, dtype: int64

In [81]:
y = df_drivers['DAMAGE_LEVEL']