Place for a picture

# Logistic Regression of a... (Phase Three Project)

## Business Problem/Question

What factors from this dataset are most relevant to determining whether a private passenger vehicle crash in Chicago incurs property damage over $1,500 and can we make good predictions using these fewer factors?

## EDA

In [1]:
# Importing packages
import numpy as np
import pandas as pd 
import math

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.impute import MissingIndicator, SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.dummy import DummyClassifier

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier

from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.metrics import roc_curve, roc_auc_score, plot_roc_curve
from sklearn.metrics import plot_confusion_matrix, confusion_matrix

### Read in and create new csv

In [124]:
# Read in data

df_vehicles = pd.read_csv("Data\Traffic_Crashes_-_Vehicles_20231109.csv", parse_dates=["CRASH_DATE"], low_memory=False)
df_people = pd.read_csv("Data\Traffic_Crashes_-_People_20231109.csv", parse_dates=["CRASH_DATE"], low_memory=False)
df_crashes = pd.read_csv("Data\Traffic_Crashes_-_Crashes_20231109.csv", parse_dates=["CRASH_DATE"], low_memory=False)

In [125]:
# Filter out any data from before 2021

df_crashes = df_crashes[df_crashes["CRASH_DATE"].dt.year >= 2021]
df_people = df_people[df_people["CRASH_DATE"].dt.year >= 2021]
df_vehicles = df_vehicles[df_vehicles["CRASH_DATE"].dt.year >= 2021]

Using the data dictionaries to understand column names, we are dropping columns from each set that are not relevant to the business problem.

In [126]:
# Drop columns from Vehicles dataframe

df_vehicles.drop(columns = ['TOWED_I', 'FIRE_I', 'TOWED_BY', 'TOWED_TO', 'CMV_ID', 
                        'USDOT_NO', 'CCMC_NO', 'ILCC_NO', 'COMMERCIAL_SRC', 'GVWR', 
                        'CARRIER_NAME', 'CARRIER_STATE', 'CARRIER_CITY',
                        'HAZMAT_PLACARDS_I', 'HAZMAT_NAME', 'UN_NO', 'HAZMAT_PRESENT_I', 
                        'HAZMAT_REPORT_I', 'HAZMAT_REPORT_NO', 'MCS_REPORT_I',
                        'MCS_REPORT_NO', 'HAZMAT_VIO_CAUSE_CRASH_I', 'MCS_VIO_CAUSE_CRASH_I', 
                        'IDOT_PERMIT_NO', 'WIDE_LOAD_I', 'TRAILER1_WIDTH', 'TRAILER2_WIDTH', 
                        'TRAILER1_LENGTH', 'TRAILER2_LENGTH', 'TOTAL_VEHICLE_LENGTH',
                        'AXLE_CNT', 'VEHICLE_CONFIG', 'CARGO_BODY_TYPE', 'LOAD_TYPE',
                        'HAZMAT_OUT_OF_SERVICE_I', 'MCS_OUT_OF_SERVICE_I', 'HAZMAT_CLASS'],
                         inplace=True)

In [127]:
# Drop columns from People dataframe

df_people.drop(columns = ['HOSPITAL', 'EMS_AGENCY', 'EMS_RUN_NO'], inplace=True)

In [128]:
# Drop columns from Crashes dataframe

df_crashes.drop(columns = ['REPORT_TYPE', 'DATE_POLICE_NOTIFIED', 'PHOTOS_TAKEN_I',
                       'STATEMENTS_TAKEN_I', 'DOORING_I', 'INJURIES_TOTAL', 
                       'INJURIES_FATAL', 'INJURIES_INCAPACITATING', 
                       'INJURIES_NON_INCAPACITATING', 'INJURIES_REPORTED_NOT_EVIDENT', 
                       'INJURIES_NO_INDICATION', 'INJURIES_UNKNOWN'], inplace=True)

Because we are most interested in vehicle damage, we are using the Vehicles dataframe as the main and merging the others into it.

In [129]:
# Merge People dataframe with Vehicles dataframe

df = df_vehicles.merge(df_people, how="left", on=["CRASH_RECORD_ID", "CRASH_DATE", "RD_NO", "VEHICLE_ID"])

In [130]:
# Merge Crashes dataframe with merged dataframe

df = pd.merge(df, df_crashes, how = 'inner', on = ['CRASH_RECORD_ID', "CRASH_DATE", "RD_NO"])

In [131]:
# Exporting new dataframe to csv for use throughout rest of notebook

df.to_csv("Data\chicago_traffic_accidents_2021_to_11-09-2023.csv")

### Working with a single merge dataset

In [122]:
# Can load merged dataframe without needing to go through above steps each time
df = pd.read_csv("Data\chicago_traffic_accidents_2021_to_11-09-2023.zip", parse_dates=["CRASH_DATE"], low_memory=False)

We don't need all the identifying columns as they are not useful in making a model. We will drop all of those now.

In [123]:
df.drop(columns = ["CRASH_UNIT_ID", "CRASH_RECORD_ID", "RD_NO",
                    "UNIT_NO", "VEHICLE_ID", "PERSON_ID"], inplace=True)

We only want unique vehicle damage count, so we need to remove rows that represent passengers, as these will duplicate the vehicle damage. We also should remove any other rows that don't represent drivers. We can use the "PERSON_TYPE" column for this.

In [124]:
# Check values in Person_type column

df['PERSON_TYPE'].value_counts(normalize=True)

DRIVER                 0.780694
PASSENGER              0.197756
PEDESTRIAN             0.012899
BICYCLE                0.007730
NON-MOTOR VEHICLE      0.000760
NON-CONTACT VEHICLE    0.000162
Name: PERSON_TYPE, dtype: float64

In [125]:
# Remove all types of person except DRIVER

df = df[df['PERSON_TYPE'] == 'DRIVER']

In [126]:
# Sanity check

df['PERSON_TYPE'].value_counts(normalize=True)

DRIVER    1.0
Name: PERSON_TYPE, dtype: float64

### Missingness

Next we look at null values to try to determine which columns might need to be imputed or if the data is too incomplete to be useful.

In [127]:
# First dropping columns that no longer have any data after removing all but DRIVER entries

df.dropna(axis=1, how="all", inplace=True)

In [128]:
# Looking at the total nulls left in remaining columns

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 530319 entries, 0 to 766594
Data columns (total 83 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Unnamed: 0               530319 non-null  int64
 1   CRASH_DATE               530319 non-null  datetime64[ns]
 2   UNIT_TYPE                530310 non-null  object
 3   NUM_PASSENGERS           85079 non-null   float64
 4   CMRC_VEH_I               10945 non-null   object
 5   MAKE                     530098 non-null  object
 6   MODEL                    530098 non-null  object
 7   LIC_PLATE_STATE          469533 non-null  object
 8   VEHICLE_YEAR             434488 non-null  float64
 9   VEHICLE_DEFECT           530098 non-null  object
 10  VEHICLE_TYPE             530098 non-null  object
 11  VEHICLE_USE              530098 non-null  object
 12  TRAVEL_DIRECTION         530098 non-null  object
 13  MANEUVER                 530098 non-null  object
 14  OCCUPANT_CNT             530098 non-null  float64
 15  EXCEED_SPEED_LIMIT_I     9 non-null       object
 16  AREA_00_I                16553 non-null   object
 17  AREA_01_I                159444 non-null  object
 18  AREA_02_I                79273 non-null   object
 19  AREA_03_I                53585 non-null   object
 20  AREA_04_I                46911 non-null   object
 21  AREA_05_I                72099 non-null   object
 22  AREA_06_I                82203 non-null   object
 23  AREA_07_I                71300 non-null   object
 24  AREA_08_I                41432 non-null   object
 25  AREA_09_I                45306 non-null   object
 26  AREA_10_I                72690 non-null   object
 27  AREA_11_I                155461 non-null  object
 28  AREA_12_I                163782 non-null  object
 29  AREA_99_I                76331 non-null   object
 30  FIRST_CONTACT_POINT      529973 non-null  object
 31  PERSON_TYPE              530319 non-null  object
 32  CITY                     391147 non-null  object
 33  STATE                    387258 non-null  object
 34  ZIPCODE                  365479 non-null  object
 35  SEX                      530319 non-null  object
 36  AGE                      377472 non-null  float64
 37  DRIVERS_LICENSE_STATE    390210 non-null  object
 38  DRIVERS_LICENSE_CLASS    308207 non-null  object
 39  SAFETY_EQUIPMENT         530319 non-null  object
 40  AIRBAG_DEPLOYED          530319 non-null  object
 41  EJECTION                 530319 non-null  object
 42  INJURY_CLASSIFICATION    530319 non-null  object
 43  DRIVER_ACTION            530319 non-null  object
 44  DRIVER_VISION            530319 non-null  object
 45  PHYSICAL_CONDITION       530319 non-null  object
 46  BAC_RESULT               530319 non-null  object
 47  BAC_RESULT VALUE         612 non-null     float64
 48  CELL_PHONE_USE           2 non-null       object
 49  CRASH_DATE_EST_I         32074 non-null   object
 50  POSTED_SPEED_LIMIT       530319 non-null  int64
 51  TRAFFIC_CONTROL_DEVICE   530319 non-null  object
 52  DEVICE_CONDITION         530319 non-null  object
 53  WEATHER_CONDITION        530319 non-null  object
 54  LIGHTING_CONDITION       530319 non-null  object
 55  FIRST_CRASH_TYPE         530319 non-null  object
 56  TRAFFICWAY_TYPE          530319 non-null  object
 57  LANE_CNT                 71 non-null      float64
 58  ALIGNMENT                530319 non-null  object
 59  ROADWAY_SURFACE_COND     530319 non-null  object
 60  ROAD_DEFECT              530319 non-null  object
 61  CRASH_TYPE               530319 non-null  object
 62  INTERSECTION_RELATED_I   142097 non-null  object
 63  NOT_RIGHT_OF_WAY_I       18683 non-null   object
 64  HIT_AND_RUN_I            166473 non-null  object
 65  DAMAGE                   530319 non-null  object
 66  PRIM_CONTRIBUTORY_CAUSE  530319 non-null  object
 67  SEC_CONTRIBUTORY_CAUSE   530319 non-null  object
 68  STREET_NO                530319 non-null  int64
 69  STREET_DIRECTION         530317 non-null  object
 70  STREET_NAME              530319 non-null  object
 71  BEAT_OF_OCCURRENCE       530319 non-null  float64
 72  WORK_ZONE_I              2425 non-null    object
 73  WORK_ZONE_TYPE           1821 non-null    object
 74  WORKERS_PRESENT_I        678 non-null     object
 75  NUM_UNITS                530319 non-null  int64
 76  MOST_SEVERE_INJURY       530319 non-null  object
 77  CRASH_HOUR               530319 non-null  int64
 78  CRASH_DAY_OF_WEEK        530319 non-null  int64
 79  CRASH_MONTH              530319 non-null  int64
 80  LATITUDE                 525675 non-null  float64
 81  LONGITUDE                525675 non-null  float64
 82  LOCATION                 525675 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(7), object(66)
memory usage: 339.9+ MB

There are several columns that seem useful from the data dictionaries, but look almost entirely full of nulls. We do a value_counts for those columns to see what's in them.

In [129]:
# NUM_PASSENGERS

df["NUM_PASSENGERS"].value_counts(dropna=False)

NaN     445240
1.0      60610
2.0      15374
3.0       6037
4.0       2034
5.0        560
6.0        234
7.0         84
8.0         28
10.0        23
9.0         19
11.0        18
12.0        10
17.0         6
14.0         5
19.0         4
13.0         4
16.0         4
15.0         3
18.0         2
22.0         2
21.0         2
27.0         2
43.0         2
26.0         2
20.0         1
33.0         1
34.0         1
28.0         1
46.0         1
42.0         1
30.0         1
32.0         1
31.0         1
24.0         1
Name: NUM_PASSENGERS, dtype: int64

There is no 0 value, so the NaNs are problably 0. However, OCCUPANT_CNT represents the same information so we won't need this column.

In [130]:
# CMRC_VEH_I

df["CMRC_VEH_I"].value_counts(dropna=False)

NaN    519374
Y        6602
N        4343
Name: CMRC_VEH_I, dtype: int64

This is a binary flag, but the missing values represent the overwhelming majority. We can drop the Y rows because they are commercial vehicles and do not fit the business problem, but the rest we will leave as we cannot make an assumption from such a small subset that the Y/N ratio is representative of the whole.

In [131]:
# Dropping Commercial Vehicles

df = df[df["CMRC_VEH_I"]!="Y"]

In [132]:
# Sanity Check

df["CMRC_VEH_I"].value_counts(dropna=False)

NaN    519374
N        4343
Name: CMRC_VEH_I, dtype: int64

In [133]:
# EXCEED_SPEED_LIMIT_I

df["EXCEED_SPEED_LIMIT_I"].value_counts(dropna=False)

NaN    523708
N           5
Y           4
Name: EXCEED_SPEED_LIMIT_I, dtype: int64

This is a binary flag, but the missing values represent the overwhelming majority. We cannot make an assumption from such a small subset that the Y/N ratio is representative of the whole. This does not seem to be a useful column.

In [134]:
# AGE

df["AGE"].value_counts(dropna=False)

NaN      152142
28.0      10738
27.0      10706
29.0      10618
26.0      10583
          ...
101.0         5
102.0         4
103.0         3
98.0          3
110.0         2
Name: AGE, Length: 106, dtype: int64

Missing values is a smaller percentage, so we can impute based on the average age.

In [135]:
df["AGE"].mean()

39.92547399582857

In [136]:
# BAC_RESULT for BAC_RESULT VALUE

df["BAC_RESULT"].value_counts(dropna=False)

TEST NOT OFFERED                   516361
TEST REFUSED                         5312
TEST PERFORMED, RESULTS UNKNOWN      1180
TEST TAKEN                            864
Name: BAC_RESULT, dtype: int64

There are no nulls. We could create a binary flag feature as TESTED_FOR_BAC.

In [137]:
# CELL_PHONE_USE

df["CELL_PHONE_USE"].value_counts(dropna=False)

NaN    523715
N           2
Name: CELL_PHONE_USE, dtype: int64

This is a binary flag, but the missing values represent the overwhelming majority. We cannot make an assumption from such a small subset that the Y/N ratio is representative of the whole. This does not seem to be a useful column.

In [138]:
# LANE_CNT

df["LANE_CNT"].value_counts(dropna=False)

NaN    523647
2.0        25
4.0        20
1.0         7
3.0         7
6.0         4
5.0         4
0.0         2
8.0         1
Name: LANE_CNT, dtype: int64

The missing values represent the overwhelming majority. We cannot make an assumption from such a small subset that the ratio is representative of the whole. This does not seem to be a useful column.

In [139]:
# INTERSECTION_RELATED_I

df["INTERSECTION_RELATED_I"].value_counts(dropna=False)

NaN    383355
Y      134078
N        6284
Name: INTERSECTION_RELATED_I, dtype: int64

This is a binary flag, but the missing values represent the majority. We may be able to impute values to the NaN because the Y/N values are a sizeable fraction of the whole, but we may want to leave this out of our initial model.

In [140]:
# NOT_RIGHT_OF_WAY_I

df["NOT_RIGHT_OF_WAY_I"].value_counts(dropna=False)

NaN    505547
Y       16342
N        1828
Name: NOT_RIGHT_OF_WAY_I, dtype: int64

This is a binary flag, but the missing values represent the overwhelming majority. We cannot make an assumption from such a small subset that the Y/N ratio is representative of the whole. This does not seem to be a useful.

In [141]:
# HIT_AND_RUN_I

df["HIT_AND_RUN_I"].value_counts(dropna=False)

NaN    358329
Y      158154
N        7234
Name: HIT_AND_RUN_I, dtype: int64

This is a binary flag, but the missing values represent the majority. We may be able to impute values to the NaN because the Y/N values are a sizeable fraction of the whole, but we may want to leave this out of our initial model. We could assume that N is the default.

In [142]:
# WORK_ZONE_I 

df["WORK_ZONE_I"].value_counts(dropna=False)

NaN    521390
Y        1737
N         590
Name: WORK_ZONE_I, dtype: int64

This is a binary flag, but the missing values represent the overwhelming majority. We cannot make an assumption from such a small subset that the Y/N ratio is representative of the whole. This does not seem to be a useful column.

In [163]:
# Dropping all columns determined not to be useful

df.drop(columns = ["CMRC_VEH_I", "EXCEED_SPEED_LIMIT_I", "CELL_PHONE_USE", 
                   "LANE_CNT", "NOT_RIGHT_OF_WAY_I", "WORK_ZONE_I"], inplace=True)

In [189]:
#Sanity Check

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 523717 entries, 0 to 766594
Data columns (total 79 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Unnamed: 0               523717 non-null  int64
 1   CRASH_DATE               523717 non-null  datetime64[ns]
 2   UNIT_TYPE                523708 non-null  object
 3   NUM_PASSENGERS           84450 non-null   float64
 4   MAKE                     523496 non-null  object
 5   MODEL                    523496 non-null  object
 6   LIC_PLATE_STATE          463232 non-null  object
 7   VEHICLE_YEAR             428682 non-null  float64
 8   VEHICLE_DEFECT           523496 non-null  object
 9   VEHICLE_TYPE             523496 non-null  object
 10  VEHICLE_USE              523496 non-null  object
 11  TRAVEL_DIRECTION         523496 non-null  object
 12  MANEUVER                 523496 non-null  object
 13  OCCUPANT_CNT             523496 non-null  float64
 14  AREA_00_I                15443 non-null   object
 15  AREA_01_I                158378 non-null  object
 16  AREA_02_I                78586 non-null   object
 17  AREA_03_I                52985 non-null   object
 18  AREA_04_I                46343 non-null   object
 19  AREA_05_I                71250 non-null   object
 20  AREA_06_I                81584 non-null   object
 21  AREA_07_I                70493 non-null   object
 22  AREA_08_I                41000 non-null   object
 23  AREA_09_I                44908 non-null   object
 24  AREA_10_I                72194 non-null   object
 25  AREA_11_I                154610 non-null  object
 26  AREA_12_I                163033 non-null  object
 27  AREA_99_I                75719 non-null   object
 28  FIRST_CONTACT_POINT      523374 non-null  object
 29  PERSON_TYPE              523717 non-null  object
 30  CITY                     385181 non-null  object
 31  STATE                    381394 non-null  object
 32  ZIPCODE                  359842 non-null  object
 33  SEX                      523717 non-null  object
 34  AGE                      371575 non-null  float64
 35  DRIVERS_LICENSE_STATE    384260 non-null  object
 36  DRIVERS_LICENSE_CLASS    302924 non-null  object
 37  SAFETY_EQUIPMENT         523717 non-null  object
 38  AIRBAG_DEPLOYED          523717 non-null  object
 39  EJECTION                 523717 non-null  object
 40  INJURY_CLASSIFICATION    523717 non-null  object
 41  DRIVER_ACTION            523717 non-null  object
 42  DRIVER_VISION            523717 non-null  object
 43  PHYSICAL_CONDITION       523717 non-null  object
 44  BAC_RESULT               523717 non-null  object
 45  BAC_RESULT VALUE         610 non-null     float64
 46  CRASH_DATE_EST_I         31792 non-null   object
 47  POSTED_SPEED_LIMIT       523717 non-null  int64
 48  TRAFFIC_CONTROL_DEVICE   523717 non-null  object
 49  DEVICE_CONDITION         523717 non-null  object
 50  WEATHER_CONDITION        523717 non-null  object
 51  LIGHTING_CONDITION       523717 non-null  object
 52  FIRST_CRASH_TYPE         523717 non-null  object
 53  TRAFFICWAY_TYPE          523717 non-null  object
 54  ALIGNMENT                523717 non-null  object
 55  ROADWAY_SURFACE_COND     523717 non-null  object
 56  ROAD_DEFECT              523717 non-null  object
 57  CRASH_TYPE               523717 non-null  object
 58  INTERSECTION_RELATED_I   140362 non-null  object
 59  HIT_AND_RUN_I            165388 non-null  object
 60  DAMAGE                   523717 non-null  object
 61  PRIM_CONTRIBUTORY_CAUSE  523717 non-null  object
 62  SEC_CONTRIBUTORY_CAUSE   523717 non-null  object
 63  STREET_NO                523717 non-null  int64
 64  STREET_DIRECTION         523715 non-null  object
 65  STREET_NAME              523717 non-null  object
 66  BEAT_OF_OCCURRENCE       523717 non-null  float64
 67  WORK_ZONE_TYPE           1737 non-null    object
 68  WORKERS_PRESENT_I        633 non-null     object
 69  NUM_UNITS                523717 non-null  int64
 70  MOST_SEVERE_INJURY       523717 non-null  object
 71  CRASH_HOUR               523717 non-null  int64
 72  CRASH_DAY_OF_WEEK        523717 non-null  int64
 73  CRASH_MONTH              523717 non-null  int64
 74  LATITUDE                 519247 non-null  float64
 75  LONGITUDE                519247 non-null  float64
 76  LOCATION                 519247 non-null  object
 77  DAMAGE_OVER_$1500        523717 non-null  int64
 78  BAC_TEST                 523717 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(9), object(61)
memory usage: 319.7+ MB

## Feature Engineering

In [164]:
# Check the values in Damage column

df['DAMAGE'].value_counts()

OVER $1,500      360020
$501 - $1,500    120416
$500 OR LESS      43281
Name: DAMAGE, dtype: int64

In [165]:
# Create a new column to identify damage as > $1500 or <= $1500

damage_dict = {'OVER $1,500':1, '$501 - $1,500':0, '$500 OR LESS':0}
df['DAMAGE_OVER_$1500'] =  df.loc[:, ('DAMAGE')].map(damage_dict).copy()

In [166]:
# Sanity check

df['DAMAGE_OVER_$1500'].value_counts()

1    360020
0    163697
Name: DAMAGE_OVER_$1500, dtype: int64

In [167]:
# Create a new column to identify BAC_TEST as Y/N

bac_dict = {'TEST NOT OFFERED':0, 'TEST REFUSED':1, 'TEST PERFORMED, RESULTS UNKNOWN':1, 'TEST TAKEN':1}
df['BAC_TEST'] =  df.loc[:, ('BAC_RESULT')].map(bac_dict).copy()

In [168]:
# Sanity check

df["BAC_TEST"].value_counts()

0    516361
1      7356
Name: BAC_TEST, dtype: int64

## Dummy Model

In [169]:
X = df.drop(["DAMAGE_OVER_$1500"], axis=1)
y = df["DAMAGE_OVER_$1500"]

In [170]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2024)

In [171]:
dummy_model = DummyClassifier(strategy="most_frequent")

In [172]:
dummy_model.fit(X_train, y_train)

DummyClassifier(strategy='most_frequent')

In [173]:
cv_results_dummy = cross_val_score(dummy_model, X_train, y_train, cv=5)
cv_results_dummy

array([0.68784847, 0.68784847, 0.68785722, 0.6878445 , 0.6878445 ])

## Baseline Numeric Model

### Decide Xs/y

For a baseline model, we will use only the already numeric columns as Xs to predict DAMAGE_OVER_$1500 as y. We will omit all columns that are simply identifiers or keys. We also omit NUM_PASSENGERS as it is directly related to OCCUPANT_CNT.

In [174]:
# Using .describe to see the variables that are already numeric

df.describe()

,Unnamed: 0,NUM_PASSENGERS,VEHICLE_YEAR,OCCUPANT_CNT,AGE,BAC_RESULT VALUE,POSTED_SPEED_LIMIT,STREET_NO,BEAT_OF_OCCURRENCE,NUM_UNITS,CRASH_HOUR,CRASH_DAY_OF_WEEK,CRASH_MONTH,LATITUDE,LONGITUDE,DAMAGE_OVER_$1500,BAC_TEST
count,523717.000000,84450.000000,428682.000000,523496.000000,371575.000000,610.000000,523717.000000,523717.000000,523717.000000,523717.000000,523717.000000,523717.000000,523717.00000,519247.000000,519247.000000,523717.000000,523717.000000
mean,389995.012490,1.456945,2014.883128,1.234516,39.925474,0.175885,28.965458,3746.654508,1239.549677,2.091479,13.360557,4.137664,6.42281,41.852148,-87.673290,0.687432,0.014046
std,222581.925857,0.995520,118.634721,0.667260,15.843725,0.104812,5.312512,2852.738278,701.016896,0.485050,5.512825,1.982557,3.24658,0.368367,0.752426,0.463540,0.117680
min,0.000000,1.000000,1900.000000,0.000000,0.000000,0.000000,0.000000,0.000000,111.000000,1.000000,0.000000,1.000000,1.00000,0.000000,-87.936193,0.000000,0.000000
25%,195000.000000,1.000000,2009.000000,1.000000,27.000000,0.130000,30.000000,1329.000000,715.000000,2.000000,10.000000,2.000000,4.00000,41.779949,-87.722859,0.000000,0.000000
50%,396756.000000,1.000000,2014.000000,1.000000,37.000000,0.180000,30.000000,3299.000000,1134.000000,2.000000,14.000000,4.000000,6.00000,41.871981,-87.675525,1.000000,0.000000
75%,582781.000000,2.000000,2018.000000,1.000000,51.000000,0.220000,30.000000,5611.000000,1814.000000,2.000000,17.000000,6.000000,9.00000,41.924092,-87.633793,1.000000,0.000000
max,766594.000000,46.000000,9999.000000,47.000000,110.000000,1.000000,70.000000,13799.000000,6100.000000,18.000000,23.000000,7.000000,12.00000,42.022780,0.000000,1.000000,1.000000

In [176]:
# Making a baseline dataframe 

df_bl = df[["VEHICLE_YEAR", "OCCUPANT_CNT", "AGE", "BAC_RESULT VALUE", "POSTED_SPEED_LIMIT", "STREET_NO", "BEAT_OF_OCCURRENCE", "NUM_UNITS", "CRASH_HOUR", "CRASH_DAY_OF_WEEK", "CRASH_MONTH", "LATITUDE", "LONGITUDE", "BAC_TEST", "DAMAGE_OVER_$1500"]]

In [177]:
# Assigning Xs & y 

X_bl = df_bl.drop("DAMAGE_OVER_$1500", axis=1)
y_bl = df["DAMAGE_OVER_$1500"]

### Train/Test Split

In [178]:
X_train_bl, X_test_bl, y_train_bl, y_test_bl = train_test_split(X_bl, y_bl, random_state=2024)

### Preprocessing Steps (SS, OHE, SI)

In [179]:
numeric_imputer = SimpleImputer()
X_train_blimp = numeric_imputer.fit_transform(X_train_bl)

### Modeling (look at Coefficients, P-values)

In [180]:
bl_logreg = LogisticRegression(random_state=2024, penalty="none", max_iter=1000)

In [181]:
bl_logreg.fit(X_train_blimp, y_train_bl)

LogisticRegression(max_iter=1000, penalty='none', random_state=2024)

In [182]:
confusion_matrix(y_train_bl, bl_logreg.predict(X_train_blimp))

array([[   297, 122312],
       [   396, 269782]], dtype=int64)

### Evaluation

In [183]:
cv_results = cross_val_score(bl_logreg, X_train_blimp, y_train_bl, cv=5)
cv_results

array([0.68652461, 0.68769572, 0.68640605, 0.68739896, 0.68660972])

In [187]:
print("Dummy Model CV:          ", cv_results_dummy)
print("Initial Numeric Model CV:", cv_results)

Dummy Model CV:           [0.68784847 0.68784847 0.68785722 0.6878445  0.6878445 ]
Initial Numeric Model CV: [0.68652461 0.68769572 0.68640605 0.68739896 0.68660972]

So we can see that a model using only the columns which are already numeric is only as good as picking the most frequent.

## Evaluation OF/UF report Test

# Model 2

# Model 3